.watchTable {
	margin: auto;
	width: 50%;
}

.watchTable table {
	width: 100%;
}

.watchTable table, th, td {
	border: 1px solid #ddd;
	border-collapse: collapse;
	padding: 8px;
}

.watchTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: rgba(128, 128, 128, .4);
}

.watchTable tr:nth-child(even) {
	background-color: rgba(226, 226, 226, .4);
}

.watchTable tr:nth-child(odd) {
	background-color: rgba(211, 211, 211, .4);}

.currentWatch {
	font-weight: bold;
}
