<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="space-filler"></span>
  <img src="../assets/anchor.png"/>
</mat-toolbar>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ shiptime }}</mat-card-title>
    <mat-card-subtitle>{{ time | date:'HH:mm:ss' }}</mat-card-subtitle>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content class="watches">
    <mat-table [dataSource]="watches">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Watch</mat-header-cell>
        <mat-cell *matCellDef="let watch">{{watch.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="times">
        <mat-header-cell *matHeaderCellDef>Times</mat-header-cell>
        <mat-cell *matCellDef="let watch">{{watch.startHour | hour }} - {{watch.endHour | hour }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
