.app {
  text-align: center;
}

.button {
  background-color: gold;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

.button:hover {
  background-color: goldenrod;
}

.button:disabled {
  background-color: lightgray;
  cursor: auto;
}
